/* This is an external css file! If you make changes here, it changes any site that uses this stylesheet!! */
.nav-link{
    color: black;
}
.sticky-top{
    top: 2vh;
}
.gray-out{
    color: #6c757d;
}
.cart-item{
    display: inline-block;
}
#index .card-img-top{
    width: 100%;
    height: 250px;
    object-fit: cover;
}